# ambiente
.venv/
.env

# logs e dados
logs/
storage/
dist/
dist/storage/
*.jsonl

# cache
__pycache__/
*.pyc

# vscode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / executáveis
build/
dist/
*.spec

# Ambientes virtuais
.venv/
venv/

# Sistema
.DS_Store
Thumbs.db

# Logs (opcional)
*.log